.side .md table {
  box-shadow: none;
  margin-bottom: 30px;
  width: 100%;
}
.side .md thead,
.side .md tbody {
  display: inherit;
  width: inherit;
}
.side .md thead {
  background: #c5b9a5;
  color: #432a10;
}
.side .md tbody {
  background: #fffffe;
}
.side .md td {
  border: 1px solid #eae2cd !important;
}
.side .md tr,
.side .md th {
  width: inherit;
}
span.multi-count {
  display: none;
}

#thing_t3_6ipxex .usertext-body .md {
  background: #fff !important;
  border: 1px solid #b8a383 !important;
}
#thing_t3_6ipxex .title {
  background: hsla(45, 10%, 97%, 0.8) !important;
}

/* end post confetti */
.organic-listing {
  margin-bottom: 24px;
}

.sr_style_toggle label:after {
  content: "Show theme";
  font-size: 10px;
}
.sr_style_toggle label {
  font-size: 0;
}
form.toggle.sr_style_toggle {
  padding-top: 0;
}
.side a[href="/r/OnePiece/w/rules"] {
  position: absolute;
  margin-top: -38px;
  margin-left: 70px;
  color: #4a3013 !important;
  font-size: 13px;
}

.thing .md blockquote::before,
.wiki-page .wiki-page-content .md.wiki blockquote::before {
  content: "";
  width: 34px;
  height: 24px;
  position: absolute;
  left: 10px;
}
.thing .md blockquote,
.wiki-page .wiki-page-content .md.wiki blockquote {
  display: block;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px 20px 10px 53px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  line-height: 1.2;
  color: #444;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.usertext-body pre {
  background: #fff url(%%code%%) 10px 10px no-repeat;
  border: 1px solid #c7b79e;
  padding: 10px 10px 10px 40px;
}
.usertext.border .usertext-body {
  background-color: #e3f2fd;
}
.stylesheet-customize-container {
  display: inline-block;
}
.image-preview-list {
  margin: 50px 320px 20px 20px;
  display: table-cell;
}
.image-preview-list li {
  background: #eae2cd;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 5px;
}
input[type="checkbox"]:not(:checked),
input[type="radio"]:not(:checked),
#rem-login-main:not(:checked) {
  background: #c5b9a5;
}
input[type="checkbox"],
#rem-login-main,
.side .titlebox h1.redditname + div:before {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px !important;
  margin-bottom: 1px !important;
  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 4px;
  background: #c5b9a5 url(%%check%%) 2px 2px/11px no-repeat;
  content: "";
}
.titlebox form.toggle {
  color: #9e8867;
}
input[type="radio"] {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: #fff;
  border: 4px solid #c5b9a5;
  -webkit-appearance: none;
  -moz-appearance: none;
}
a.tb-bracket-button {
  background: hsla(0, 0, 0, 0.1) !important;
  border: none !important;
  padding: 0 5px !important;
  border-radius: 3px;
  transition: all 0.1s;
}
a.tb-bracket-button:hover {
  text-decoration: none;
  background: hsla(45, 20%, 85%, 1) !important;
}
a.voteWeight {
  color: #888 !important;
}
.RESUserTagImage::after {
  color: #aaa !important;
}
del {
  opacity: 0.7;
}
/*RES exclusive*/
.NERPageMarker {
  background: none;
  border: none;
  margin-bottom: 15px;
  color: #a79f7b;
}

.res-floater-visibleAfterScroll > ul > li {
  transition: all 0.2s ease;
}
.res-floater-visibleAfterScroll > ul > li:hover .pageNavigator {
  -webkit-animation: updown 1s ease-out 0s infinite;
  animation: updown 1s ease-out 0s infinite;
}

.pageNavigator.res-icon {
  font-size: 0 !important;
}
.res-floater-visibleAfterScroll > ul {
  position: fixed;
  bottom: 20px;
  right: 29px;
}
/*RES exclusive end*/
.reddit-infobar {
  margin-bottom: 30px;
}
.content .menuarea {
  margin-bottom: 20px;
}
.mod-toolbox .menuarea.modtools {
  margin-bottom: 30px !important;
  margin-right: 0 !important;
}
.linefield {
  background-color: #eae2cd;
}
.linefield .title {
  color: #4a3013;
}
.res .search-page #header-bottom-left > .tabmenu:nth-of-type(1)::after {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #d2c8ac;
  box-shadow: inset 2px 0 0 #21201d, inset -2px 0 0 #21201d;
  border-radius: 5px;
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #372e24;
}
::-webkit-scrollbar {
  width: 11px;
}
.side a[href="https://ab.reddit.com/r/OnePiece"]
{
  display: none;
}
.listing-page .side a[href="https://ab.reddit.com/r/OnePiece"]
{
  position: absolute;
  display: block;
  font-size: 0;
  float: none;
  height: 5px;
  width: 10px;
  z-index: 1;
  top: 243px;
  right: 155px;
}
.md hr {
  background: url(%%section-separator%%);
  height: 5px;
  margin-top: 15px;
  margin-bottom: 18px;
}
.infobar.newsletterbar {
  margin-bottom: 24px;
}
#sr-header-area .dropdown.srdrop .selected,
.res #sr-header-area #srDropdownContainer a {
  margin: 0;
  padding: 0;
  background-image: none;
  font-size: 0 !important;
}
#sr-header-area .dropdown.srdrop .selected::after,
.res #sr-header-area #srDropdownContainer a::after {
  position: relative;
  padding-right: 10px;
  padding-left: 6px;
  content: "≡";
  font-size: 20px;
}
.md a {
  color: #004c99;
}
.md a:visited {
  color: #862d86;
}

.markdownEditor .edit-btn:not(.btn-macro) {
  border-color: #d8cec0 !important;
}
.comments-page .md textarea {
  background: url(%%blacktest%%) center no-repeat;
  border: 1px solid #a18765;
}
.comments-page .md textarea:focus {
  background: #fff;
}
.wiki-page .wiki-page-content .wiki > .toc > ul,
.wiki-page .pageactions {
  border-color: #996933;
}
.wiki-page .md a {
  color: brown;
}
.wiki-page .pageactions .wikiaction-current {
  background: #4a3013;
}
.titlebox form.flairtoggle {
  padding: 0;
  font-size: 0;
  height: 45px;
}

input#flair_enabled {
  position: relative;
  left: 83px;
  top: -18px;
}
.side .flairtoggle:after {
  content: "";
  display: block;
  background: url(%%section-separator%%);
  height: 5px;
  margin-top: -8px;
}
form.toggle.res-sr-style-toggle,
form.toggle.sr_style_toggle {
  text-align: center;
}
.titlebox .tagline {
  margin-bottom: 20px;
}
.titlebox #flair_enabled:after {
  font-size: 13px;
  content: "Show my flair";
  color: #4a3013;
  font-weight: 700;
  display: inline-block;
  font-family: "Open Sans";
  width: 100px;
  margin-left: 20px;
}
/*=======flair selection window start=========*/

.sidecontentbox .more a {
  color: brown;
}
.flairselector form button {
  background-color: transparent;
  border: none;
  color: hsla(30, 45%, 50%, 1);
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: none;
  line-height: 13px;
}
.flairselector li.selected {
  border-color: #996;
}
.flairselection a,
.flairselection a.author {
  color: beige;
}
.flairoptionpane {
  padding-top: 5px;
  background: #eae2cd;
  box-shadow: inset 0px 0px 5px gray;
  border: 1px solid #bc9a76;
  padding-left: 15px;
}
.flairselector h2 {
  background: 0 0;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 18px;
  border: 1px solid #8f663d;
  color: hsla(30, 45%, 50%, 1);
  font-weight: 700;
  height: 30px;
  line-height: 30px;
}

.link .flairselector h2:after {
  display: none;
}
.flairselector li {
  padding: 5px 0;
  float: right;
  border: none;
  margin-bottom: 5px;
  width: 175px;
  text-align: center !important;
}
.flairselector li:hover {
  background-color: #fdf9f6;
  border: 1px solid #d6bfa9;
  box-shadow: 0 0 3px gray;
}
.flairselector li a {
  color: #000 !important;
}
.flairselector form {
  border: 1px solid #8f663d;
}
.flairselector ul {
  max-width: 175px;
  overflow: visible;
}
.link .flairselector {
  box-shadow: 2px 4px 10px #998b66;
}

.side .flairselector {
  z-index: 9999;
  position: fixed;
  top: 20% !important;
  left: 50% !important;
  margin-left: -300px;
  width: 600px !important;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.2);
  padding: 0 5px;
  outline: 1px solid #b98046;
}
/*=======================flair selection window end======================*/

.leavemoderator,
form.toggle.leavecontributor-button {
  display: none;
}
.subscribers,
.users-online:before {
  margin-left: 15px;
}
.link .score.likes {
  color: #f40;
}
.side .infobar {
  border: 1px solid #4a3013;
  background: #f7f6f3;
}
.commentarea > .usertext,
.gold-accent.comment-visits-box,
.commentarea .menuarea {
  margin-left: 10px;
}
.commentarea .menuarea {
  margin: 15px 0 0 10px;
}
.content .menuarea .dropdown-title {
  text-transform: uppercase;
}
.RESHoverInfoCard {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border: none !important;
}
.RESHoverInfoCard.right:before {
  border-color: transparent brown !important;
}
body:not(.res-nightmode) .RESHoverInfoCard.right:after {
  border-color: transparent brown !important;
}
body:not(.res-nightmode) .RESHoverInfoCard:after {
  border-color: transparent brown !important;
}
.nav-buttons {
  margin: 10px 0 10px 40px;
}
.link.stickied {
  background: linear-gradient(to left, #f7f6f3 40%, #dbceab);
}
.comments-page .linklisting {
  margin-top: -19px;
}
.link.stickied:first-child:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 24px;
  background: linear-gradient(to left, #f7f6f3 40%, #dbceab);
  top: 0px;
  left: 0px;
  z-index: -1;
}
.content .archived-infobar,
.reddit-infobar {
  margin-bottom: 19px;
}
.submit-page .livePreview {
  background-color: beige;
}
.RESDialogSmall .fancy-toggle-button .add {
  background: none;
  border: none;
}
.RESDialogSmall > h3 {
  background-color: brown !important;
  border: none;
}
.RESDialogSmall > h3,
.RESDialogSmall > h3 a {
  color: #fff !important;
}
.RESDialogSmall {
  border: 1px solid #4a3013;
  border-radius: 5px;
  overflow: hidden;
}
.livePreview {
  background: #fff !important;
}
.blueButton {
  background-color: transparent !important;
  border: none !important;
  color: #4a3013 !important;
  text-transform: uppercase;
  font-size: x-small;
  font-weight: 400;
}
button {
  background-color: #4a3013;
  border: none;
  border-bottom: 2px solid #000000;
  color: #fff;
  padding: 6px;
  margin: 5px 5px 5px 0;
  font-size: 13px;
  border-radius: 2px;
  transition: all 0.3s;
}
button:hover {
  background-color: #916430;
  border-color: #916430;
  transition: all 0.3s;
}
.c-btn-primary {
  background-color: #4a3013;
  border-bottom: 2px solid #000000;
  color: #ffffff;
}
.c-btn-primary:hover,
.c-btn-primary:focus,
.c-btn-primary:active,
.c-btn-primary.disabled,
.c-btn-primary[disabled] {
  background-color: #4a3013;
  color: #ffffff;
}
#REScommentNavToggle,
.commentarea .menuarea .toggle a,
.commentarea .menuarea,
.dropdown.lightdrop .selected {
  color: #a18765;
}
.domain a {
  font-weight: 400;
  color: #a59a78;
}
.entry .buttons li a {
  color: #a59a78;
}
.expando-button {
  border-radius: 15px;
  overflow: hidden;
  margin: 7px 5px 0px 5px !important;
}
.expando-button.video {
  background-position: -61px 0 !important;
}
.expando-button.video.expanded {
  -webkit-transform: initial;
  transform: initial;
}
.listing-page .expando-button {
  margin-top: 10px;
}
.expando-button,
.expando-button.expanded,
.expando-button.expanded:hover,
.expando-button:hover {
  width: 20px !important;
  height: 20px !important;
  transition: 150ms;
}
.expando-button.expanded:hover,
.expando-button:hover {
  opacity: 0.5;
}
.expando-button.expanded {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
a.author {
  color: brown;
}
.entry a.bylink.comments {
  color: brown;
}

/*tables!*/

body[class*="-page"] table {
  box-shadow: 0px 2px 4px #333;
}
thead,
#srList thead tr:hover {
  background: #4a3013;
  color: beige;
}
thead a {
  color: beige;
}
body[class*="-page"] tbody,
.side .md tbody {
  background: #f7f7ed;
}
.md th {
  border: none;
}
table td {
  border: 0 !important;
}
/*end tables*/

.content .thing:not(.comment) .usertext .md h1 {
  color: brown;
  font-size: 50px;
  padding: 15px 15px 10px;
  text-align: center;
  font-weight: 700;
  font-family: "Bookman Old Style", Georgia, "Roboto Slab", "Droid Serif";
  margin-bottom: 0;
}
.content .thing:not(.comment) .usertext .md h2 {
  text-align: center;
  color: brown;
  font-size: 30px;
  font-weight: 300;
  font-family: "Century Gothic", "Avenir Next", "AppleGothic", "Roboto";
  margin-top: 0;
}
.content .thing:not(.comment) .usertext .md h3 {
  color: #4a3013;
  font-family: "Open Sans", helvetica, arial, verdana, sans-serif;
  margin: 15px 0;
  font-size: 18px;
}
a {
  color: brown;
}
body {
  font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif !important;
}
.submit-page p {
  font-size: 14px;
}
.sidecontentbox .content {
  border: 4px solid #4a3013;
  background: #f0ebdb;
  border-top: none;
  border-bottom: none;
  padding: 10px 5px;
}
.sidecontentbox .content:before {
  image-rendering: pixelated;
  content: "";
  height: 18px;
  display: block;
  position: relative;
  top: -10px;
  left: -9px;
  background-color: #f0ebdb;
  width: 280px;
}
.sidecontentbox .content:after {
  image-rendering: pixelated;
  content: "";
  height: 18px;
  display: block;
  position: relative;
  top: 10px;
  left: -9px;
  background-color: #f0ebdb;
  width: 280px;
}
.sidecontentbox .title h1 {
  color: #4a3013;
  font-weight: 700;
}
.sidecontentbox a.author {
  font-weight: 700;
}
.sidecontentbox li {
  margin-left: 15px;
}
.linkinfo {
  padding: 0px 0px 0px 24px;
  border: 4px solid #4a3013;
  background-color: #f7f6f3;
  color: brown;
}
.linkinfo:before {
  image-rendering: pixelated;
  content: "";
  height: 18px;
  display: block;
  position: relative;
  top: -4px;
  left: -28px;
  background-color: #f7f6f3;
  width: 300px;
}
.linkinfo:after {
  image-rendering: pixelated;
  content: "";
  height: 18px;
  display: block;
  position: relative;
  top: 4px;
  left: -28px;
  background-color: #f7f6f3;
  width: 300px;
}
.image-preview-list {
  margin: 45px 320px 20px 20px;
}
.nextprev a,
.next-suggestions a {
  background: transparent !important;
  border: none !important;
}
#RESShortcutsSort,
#RESShortcutsRight,
#RESShortcutsLeft,
#RESShortcutsAdd,
#RESShortcutsTrash {
  color: beige !important;
  background: transparent !important;
}
#RESShortcutsEditContainer {
  background-color: #372e24 !important;
  height: 18px;
}
.submit-page #RESShortcutsEditContainer {
  background-color: #0669b9 !important;
}
.submit-page #header #sr-more-link {
  background: #0669b9;
  color: #ddd;
}
.submit-page .roundfield input[type="text"],
.submit-page .roundfield input[type="url"] {
  width: 100%;
}
.submit-page .usertext-edit {
  display: inline;
}
.submit-page .footer a {
  color: #16364e;
}
#images {
  margin-bottom: 20px;
  margin-left: 20px;
}

.submit-page .side,
.submit-page .tabmenu:before,
.submit-page .tabmenu:after,
.submit-page .content > h1,
#suggested-reddits {
  display: none;
}
.submit-page {
  background: url(%%blacktest%%) center top fixed no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.1);
}
.submit-page .pagename:after {
  display: none !important;
}
.submit-page #header-bottom-left {
  height: 0;
}
.submit-page .pagename a {
  height: 65px;
  background-size: contain;
  top: 20px;
  left: 30px;
  width: 190px;
}
.submit-page .pagename a:hover {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
.submit-page .footer {
  background: rgba(255, 255, 255, 0.5);
}
.submit-page .bottommenu,
.submit-page .bottommenu a {
  color: #fff;
}

.submit-page button[type="submit"] {
  width: 100%;
  height: 40px;
  display: inline-block;
}
.submit-page button {
  background: brown !important;
  border-color: #551616 !important;
}
.submit-page button:hover {
  background: #7e2020 !important;
  border-color: #551616 !important;
}
.submit-page .pagename {
  height: 115px;
  width: 360px;
}
.submit-page .content {
  background: transparent;
  border: none;
  width: 558px;
  margin: 40px auto !important;
}
.submit-page #header-img {
  margin-top: 25px;
  margin-left: 10px;
  display: none;
}
.submit-page .content:before {
  display: none !important;
}
.submit-page .roundfield,
.content.submit .info-notice {
  padding: 10px 16px 16px !important;
  width: 524px;
  border-radius: 2px;
  margin-bottom: 16px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.5);
}
.submit-page .roundfield textarea,
.submit-page .roundfield input[type="text"],
.submit-page .roundfield input[type="url"] {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
}
.submit-page .infobar {
  width: 524px;
  margin: -15px 0 0;
  padding: 16px;
  color: #fff;
  background-color: brown;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
}

.submit-page #newlink.submit.content .tabmenu.formtab a {
  padding: 16px;
  width: 246px;
  display: inline-block;
  text-align: center;
  background-color: #eee;
  color: #4d5763;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.25s ease;
  font-size: 16px;
  border: none;
  margin: 0;
}
.submit-page #newlink.submit.content .tabmenu.formtab a:hover {
  background-color: #e6e6e6;
}
.submit-page #newlink.submit.content .tabmenu.formtab .selected a {
  font-size: 16px;
  background-color: brown !important;
  color: #fff !important;
}
.submit-page #newlink.submit.content .tabmenu.formtab .selected a:hover {
  background-color: #962727;
}
.submit-page .tabmenu {
  background: transparent;
  box-shadow: none;
  position: initial;
  margin: 0 !important;
  padding: 0 !important;
  height: 67px;
}
.submit-page .footer-parent:before {
  display: none;
}
.submit-page .footer-parent {
  padding-bottom: 30px;
}
.usertext .md ul {
  list-style-image: url(%%compassbullet%%);
  padding-left: 20px;
}

body:not(.search-page) .content[role="main"]:before {
  content: "";
  display: block;
  position: relative;
  image-rendering: pixelated;
  width: 18px;
  height: 19px;
  left: -4px;
  top: -4px;
}
body:not(.search-page):not(.submit-page) .content[role="main"]:after {
  content: "";
  image-rendering: pixelated;
  position: relative;
  display: block;
  width: 18px;
  height: 19px;
  left: -4px;
  top: 4px;
}
body.moderator:not([class*="-page"]) .content[role="main"]:before {
  display: none;
}
body.moderator:not([class*="-page"]) .content[role="main"]:after {
  display: none;
}
.submit-page .content[role="main"]:after {
  display: none;
}
.submit-page #sr-header-area {
  background: #0669b9;
  border-bottom: none;
}
.submit-page .sr-bar a:visited,
.submit-page .sr-bar a,
.submit-page #header #sr-header-area .title {
  color: #ddd;
}
.search-expando.collapsed:before {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #f7f6f3 100%
  );
}
.content > .linklisting:before,
.wiki-page-content:before {
  position: absolute;
  top: -4px;
  right: -4px;
  z-index: 0;
  display: block;
  width: 18px;
  height: 19px;
  content: "";
  image-rendering: pixelated;
}
.content > .linklisting:after,
.wiki-page-content:after {
  position: absolute;
  bottom: -4px;
  right: -4px;
  z-index: 0;
  display: block;
  width: 18px;
  height: 19px;
  content: "";
  image-rendering: pixelated;
}
.res .RES-keyNav-activeElement,
.res .RES-keyNav-activeElement .md-container,
.res-nightmode .RES-keyNav-activeElement,
.res-nightmode .RES-keyNav-activeElement .md-container {
  background-color: transparent !important;
}
div.RES-keyNav-activeElement,
.commentarea div.RES-keyNav-activeElement.entry .noncollapsed {
  border-right: 2px solid burlywood !important;
}
.comments-page .link .RES-keyNav-activeElement {
  border: none !important;
}
.link {
  background: #f7f6f3;
  padding: 7px;
  margin-bottom: 0;
  border-bottom: 1px solid #eaeab3;
}
.entry > .tagline {
  color: #a59a78;
}
.comments-page .entry > .tagline {
  padding: 0;
}
.sheets {
  margin: 0;
}
.thing .title:visited,
.thing.visited .title {
  color: #83613a;
}
.link .score {
  color: #83613a;
}
.link .title {
  color: #462e12;
  font-weight: 700;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 17px;
}

body:not(.listing-page) .side,
.res-nightmode .side {
  margin-top: 25px;
}
.pagename:before {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  background: url(%%rope%%) repeat;
  height: 9px;
  top: 179px;
  z-index: 1;
}
#header {
  border: none;
  background-color: transparent;
}
#header-bottom-right .user {
  color: #ddd;
}
#header-bottom-left .tabmenu {
  top: 267px;
  left: 80px;
  position: absolute;
  background: #e4cda4;
  background: linear-gradient(90deg, #e4cda4, beige, #e5cea5);
  height: 30px;
  border: 1px solid #7d683e;
  border-left: none;
  border-right: none;
  box-shadow: 0 0 5px #000;
}
.comments-page #header-bottom-left .tabmenu {
  top: 220px;
}
.comments-page .side .md ol,
.wiki-page .side .md ol {
  display: none;
}
.wiki-page #header-bottom-left .tabmenu {
  top: 220px;
}
.tabmenu li a {
  background: transparent;
  color: #462e12;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 30px;
  transition: all 0.1s ease;
}
.tabmenu li a:hover {
  color: red;
}
.tabmenu li.selected a {
  background: transparent;
  border: none;
}
#header-bottom-left .tabmenu:before {
  content: "";
  display: block;
  width: 51px;
  height: 44px;
  position: absolute;
  left: -41px;
  bottom: -12px;
}
#header-bottom-left .tabmenu:after {
  content: "";
  display: block;
  position: absolute;
  width: 76px;
  height: 44px;
  top: -2px;
  right: -66px;
}
.side .md ol {
  position: absolute;
  top: 215px;
  left: 33px;
}
.side .md ol li {
  float: left;
  list-style-type: none;
}
.side .md ol li a {
  color: #ebd4ac !important;
  font-weight: bold;
  font-size: 13px;
  font-family: arial, sans-serif;
  display: block;
  background-size: 298px auto;
  width: 121px;
  height: 31px;
  text-align: center;
  padding: 5px 8px;
  margin: 0px 5px;
  transition: all 0.1s ease;
}
.side .md ol li a:hover {
  color: goldenrod !important;
}

/*==================================================
  2. Background, Heading & Body Declarations
  ================================================== */

body {
  color: #333;
  font-size: 10px;
  background: #eae2cd;
}
h1 {
  color: #282828;
  margin-bottom: 3px;
}
h2 {
  color: #282828;
  margin-bottom: 3px;
}
h3 {
  color: #282828;
  margin-bottom: 3px;
}
/*==================================================
  2.1 A Links
  ================================================== */
/*==================================================
  3. Sr-Bar
  ================================================== */

#sr-header-area {
  font-family: "Helvetica", Arial, Verdana, sans-serif !important;
  height: 22px;
  line-height: 22px;
  margin-left: 0px !important;
  font-size: 9px !important;
  background: #372e24;
  border: none;
}
#sr-more-link {
  color: #b8ad94;
  background-color: #372e24;
}
.sr-bar a:visited,
.sr-bar a,
#sr-header-area .dropdown.srdrop .title {
  color: #b8ad94;
  transition: all 0.1s ease;
}
.sr-bar a:hover {
  color: beige !important;
  text-decoration: none;
}
#srList tbody tr:hover {
  background-color: #fff !important;
}

.submit-link {
  display: none;
}
.morelink .nub {
  display: none;
}
.morelink,
.disabled .morelink {
  background-color: #4a3013;
  background-image: none;
  border-radius: 2px;
  border: none;
  border-bottom: 2px solid #000;
  display: block;
  color: #fff;
  font-family: "Open Sans", "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;
  text-align: center;
  width: 100%;
  height: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
  padding: 8px 0;
  letter-spacing: normal;
}
.morelink a {
  color: #fff;
  line-height: 16px;
  overflow: visible;
}
.morelink:hover {
  background-image: none;
  border-color: #dfd8b9;
  background-color: #f7f5ed;
}
.morelink:hover a {
  color: #4a3013;
}
/*==================================================
  3.1 Dropdown Subreddits Bar
  ================================================== */

#sr-header-area .drop-choices {
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana,
    sans-serif;
  word-spacing: -1px;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff !important;
  border: none !important;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  z-index: 400;
}
#sr-header-area .drop-choices a.choice {
  background-color: #ffffff;
}
#sr-header-area .drop-choices a.choice:hover {
  background-color: #ffffff;
}
/*==================================================
  4. Header
  ================================================== */
/*==================================================
  4.1 User Controls
  ================================================== */

span.user {
  font: normal 10px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial,
    Verdana, sans-serif;
  text-transform: uppercase;
}
a.pref-lang {
  font: normal 10px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial,
    Verdana, sans-serif;
  text-transform: uppercase;
}
.logout {
  font: normal 10px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial,
    Verdana, sans-serif;
  text-transform: uppercase;
}
#header-bottom-right {
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana,
    sans-serif;
  word-spacing: -1px;
  position: absolute !important;
  top: 22px !important;
  height: 20px !important;
  padding: 4px 6px 3px 10px !important;
  background: rgba(27, 28, 59, 0.65);
  z-index: 102;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 7px;
}
#header-bottom-right a {
  color: #ddd;
}
#userbarToggle {
  background: transparent !important;
  color: #ddd !important;
  border: none !important;
  border-radius: 0 0 0 7px !important;
}
html:lang(ab) #userbarToggle {
  background: #f7f6f3 !important;
  color: brown !important;
}
html:lang(ab) #header-bottom-right {
  background: #f7f6f3;
}
html:lang(ab) #header-bottom-right a {
  color: brown;
}
html:lang(ab) .pagename a {
  width: 180px;
  height: 60px;
  left: 50px;
  top: 20px;
}
html:lang(ab) #header-img {
  display: none;
}

/*==================================================
  4.1.1 Mail Icon
  ================================================== */

#mail.nohavemail,
#NREMail.nohavemail {
  height: 12px;
  min-width: 22px !important;
  background-position: -100px 0;
}
#mail.havemail,
#NREMail.havemail {
  height: 14px;
  min-width: 27px !important;
  background-position: -100px -14px;
}
#mail {
  min-width: 22px !important;
  width: auto !important;
}
/*==================================================
  4.2 Banner Image
  ================================================== */

/*==================================================
  4.3 Logo Image
  ================================================== */

.pagename a {
  display: block;
  background-image: url(%%op-logo%%);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 520px;
  height: 120px;
  margin: 0 auto;
  font-size: 0px;
  padding: 0px 0px 0 0;
  color: #364657;
  left: 210px;
  background-size: contain;
  position: absolute;
  top: 40px;
  z-index: 300;
}
.pagename a:hover {
  -webkit-animation: pop 0.3s linear 1;
  animation: pop 0.3s linear 1;
}
/*==================================================
  4.4 Snoo Image
  ================================================== */
/* The image isn't styled here in CSS, it's upload through the 'community settings' page or via 
  the API cURL script mentioned in 1.1.*/

#header-img {
  margin-top: 17px;
  margin-left: 45px;
  z-index: 1;
  position: absolute;
  left: 0px;
}
#header-img.default-header {
  text-indent: -9999px;
  background-repeat: no-repeat;
  height: 120px;
  width: 40px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 3px;
}
/*=====================================
  5. Content Pane and Link Listings
  ================================================= */
.promotedlink {
  margin-bottom: 0px !important;
  padding-left: 17px !important;
  border: 0px !important;
  background: linear-gradient(to left, #f7f6f3 40%, #dbceab);
}
.sponsored-tagline {
  padding-right: 10px !important;
}
.midcol {
  padding: 0px 10px 0px 5px !important;
}
body:not(.submit-page) .content[role="main"] {
  margin: 110px 350px 0px 25px;
  background: #f7f6f3;
  border: 4px solid #4a3013;
  border-radius: 5px;
  position: relative;
}
.wiki-page .content[role="main"] {
  margin-top: 73px !important;
}
.comments-page .content[role="main"] {
  margin-top: 70px !important;
}
.listing-page .content[role="main"] {
  background: transparent;
}
.commentarea .even {
  margin: 0px 0px 0px 0px !important;
  padding: 10px 5px 10px 10px !important;
  background: transparent;
  border-top: 1px solid #eee;
}
.commentarea .odd {
  margin: 0px 0px 0px 0px !important;
  padding: 10px 5px 10px 10px !important;
  background: transparent;
  border-top: 1px solid #eee;
}
.commentarea {
  position: relative;
  top: 0px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 10px !important;
  margin-right: 10px;
  padding: 7px 0px 7px 0px !important;
  border: 0px solid;
  border-color: #e5e5e5 #dbdbdb #d2d2d2;
}
.commentarea p {
  line-height: 1.4em;
}
.panestack-title {
  margin: 10px 20px 0px 10px;
  padding-bottom: 3px;
  border-bottom: 1px dashed #dbceac;
}
.panestack-title .title {
  font-size: 16px;
  font-weight: 700;
  margin: 10px 10px 10px 0;
  color: #ab9a78;
  text-transform: capitalize;
}
span#REScommentSubToggle {
  color: brown;
}
.title .domain {
  color: transparent !important;
}

.formtabs-content {
  border: 0px !important;
}
.btn button {
  margin: 0px 0px 0px 20px !important;
}
ul.formtab {
  padding: 0px 10px 0px 10px;
  margin: 10px 10px 10px 10px;
  border: none;
}
ul.formtab li {
  padding: 5px 0px 5px 0px !important;
  border: none;
}
ul.formtab li.selected {
  padding: 5px 0px 5px 0px !important;
  border: none;
}
.tabmenu.formtab .selected a {
  color: #777 !important;
}
a.link-button {
  font-size: 12px !important;
  margin: 0px 0px 0px 10px;
}
a.text-button {
  font-size: 12px !important;
}
/* Distinguishing Colors */

.tagline .friend {
  color: orangeRed !important;
}
.tagline .submitter {
  color: brown;
  font-weight: bold;
}
a.author {
  font-weight: 700;
}
.link a.author {
  font-weight: 400;
}
.comment .author {
  font-size: 11px;
}
.thing .tagline .author.moderator {
  border-radius: 2px !important;
  padding: 0 5px !important;
  background: green;
  color: white !important;
  font-weight: bold;
  font-size: 12px;
  margin-left: 5px;
}
.thing .tagline .author.moderator:hover {
  text-decoration: none;
}
.thing .tagline .author.moderator:before {
  content: "Moderator ";
  color: #adfc7e !important;
}
span.rank {
  display: none;
}
.score {
  padding: 0px 0px 0px 0px !important;
  margin: 1px 0px 0px 0px !important;
}

.commentarea .author {
  margin-left: 0px;
}
.commentarea .collapsed .author {
  font-style: normal;
  color: #888 !important;
}
.comment .tagline .userattrs {
  color: #f0eadb;
}
.tagline span a.submitter,
.commentarea .tagline span .moderator {
  color: #fff;
  font-weight: bold;
  padding: 0 5px;
  border-radius: 3px;
  transition: all 0.1s;
}
.tagline span a.submitter:hover,
.commentarea .tagline span .moderator:hover {
  text-decoration: none;
}
.tagline span a.submitter:hover {
  background: #407fbf;
}
.commentarea .tagline span .moderator:hover {
  background: #00b300;
}
.tagline span a.submitter {
  background: #369;
}
.commentarea .tagline span .moderator {
  background: green;
}
.link .tagline .userattrs,
.commentarea .tagline span .moderator {
  display: none; /*hide the [M] for distinguished posts from RES*/
}
.thing .tagline .author.submitter {
  padding: 0 5px !important;
}
.comment .child {
  border-left: none;
}
.comment .comment,
.comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment,
.comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment,
.res-commentBoxes .content .comment .comment,
.res-commentBoxes .content .comment .comment .comment .comment,
.res-commentBoxes
  .content
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment,
.res-commentBoxes
  .content
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment,
.res-commentBoxes
  .content
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment {
  background-color: #f7f6f3 !important;
  padding: 10px;
}
.res-commentBoxes .content .comment,
.res-commentBoxes .content .comment .comment .comment,
.res-commentBoxes .content .comment .comment .comment .comment .comment,
.res-commentBoxes
  .content
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment,
.res-commentBoxes
  .content
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment,
body .comment,
body .comment .comment .comment,
body .comment .comment .comment .comment .comment,
body .comment .comment .comment .comment .comment .comment .comment,
body
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment
  .comment {
  background-color: #f0eadb !important;
  padding: 10px 5px 0 5px !important;
  border: 1px solid #e0d5b8 !important;
  border-radius: 5px !important;
  margin: 10px 0 10px 0 !important;
}
.commentarea .thing {
  margin-bottom: 10px;
}
.reply-button a {
  color: brown !important;
}
.morecomments a {
  color: brown;
}
/*==================================================
  5.2 Custom Default images================================================== */

.thumbnail.self,
.thumbnail.default {
  background-image: url(%%newthumbnail%%)
  background-position: 0 0;
  height: 70px;
  /* https://www.deviantart.com/arsheraldica/art/Elder-God-symbol-705445734 */
}
.thumbnail.self {
  background-size: 70px;
}

/*
      .thumbnail.default {
          background-position: 0px -70px !important
      }*/

.thumbnail {
  border: 0;
}
.thumbnail img {
  height: 70px;
  width: auto;
}

/*==================================================
  5.3 NSFW to Spoiler Rebadge Formatting - RETIRED
  ================================================== */

/*==================================================
  6. Sidebar
  ================================================== */
.side .tagline > a {
  font-size: 13px;
  color: #4a3013;
}
.side .icon-menu a {
  background: transparent;
}
.side {
  background: transparent;
  margin: 0px 25px 85px 5px;
  font-family: "Open Sans", arial, sans-serif;
}

.side h1 a[href="/spoilers"]:before {
  background-position: 0 -162px;
}
.side h1 a[href="/rules"]:before {
  background-position: 0 -108px;
}
.side h1 a[href="/anime"]:before {
  background-position: 0 0;
}
.side h1 a[href="/misc"]:before {
  background-position: 0 -81px;
}
.side h1 a[href="/manga"]:before {
  background-position: 0 -55px;
}
.side .md blockquote {
  border: none;
  margin-left: 15px;
  font-family: "Open Sans", Helvetica, Verdana, arial, sans-serif;
  padding: 0;
  margin-bottom: 30px;
}
#subButtons-opcss {
  text-align: center;
}
.side h1:after {
  content: "";
  display: block;
  height: 5px;
  background: url(%%section-separator%%);
  margin: 8px 0;
}
.side blockquote a {
  font-weight: 700;
  color: brown;
}
.side .md a:visited {
  color: brown;
}
.side blockquote h2 {
  color: brown;
  font-size: 15px !important;
}
.side .fancy-toggle-button a,
.res-fancy-toggle-button {
  background: transparent;
  color: #4a3013 !important;
  border: none !important;
  font-size: 12px !important;
  background-image: none !important;
}
.sidecontentbox a.helplink {
  background-color: #4a3013;
  border-radius: 2px;
  border: none;
  border-bottom: 2px solid #000;
  display: block;
  color: #fff;
  font-family: "Open Sans", "Segoe UI", sans-serif;
  font-size: 16px;
  transition: all 0.3s;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.sidecontentbox a.helplink:hover {
  background-color: #f7f5ed;
  color: #4a3013;
  border-color: #dfd8b9;
}
.titlebox .bottom {
  padding-top: 10px;
  border-top: 2px solid #c5b9a5;
  color: #9c8663;
}
/*==================================================
  6.1 Search
  ================================================== */

.searchpane h4 {
  display: none;
}

#search input[type="text"] {
  border-color: #d1c294;
  border-radius: 15px;
  background: #f7f6f3;
}
#search input[type="text"]:focus {
  outline: 0;
}

.search-page li.tb-metrics {
  display: none;
}
.combined-search-page .search-submit-button {
  margin: 0 0 0 10px;
}
.search-page .nav-buttons {
  margin-bottom: 15px !important;
}
/*==================================================
  6.2 Infobar, MoreInfo and MoreSearch Divs
  ================================================== */
.archived-infobar {
  margin-bottom: 30px;
}
.infobar {
  margin-right: 0;
}
.usertext-edit {
  margin-top: 20px !important;
}
.roundfiled .usertext-edit {
  padding-left: -10px !important;
}
#ELSE .formtabs-content .infobar {
  background-image: none;
}
.commentarea .infobar {
  background: transparent;
  border: none;
  font-size: medium;
}
.commentarea .infobar a {
  color: #08c !important;
  font-size: small;
}
.commentarea .infobar a:hover {
  color: #08c !important;
  text-decoration: underline;
}
.link .usertext-body .md {
  background: transparent !important;
  border: none !important;
  border-left: 2px solid #b8a383 !important;
  border-radius: 0 !important;
  /*  box-shadow: inset 0 0 5px #DACEA9;*/
  padding: 15px 10px;
}
.commentarea .usertext {
  margin-bottom: 0px !important;
}
/*==================================================
  6.3 Redditname Image
  ================================================== */

h1.redditname {
  text-indent: -3000px;
  font-size: 0;
}
/*==================================================
  6.4 Subscription Buttons and Count
  ================================================== */
h1.redditname {
  margin-bottom: 15px;
}
form.toggle.res-sr-style-toggle {
  padding-top: 0;
  margin-top: -6px;
}
.multi-selector {
  background: hsl(44, 36%, 90%);
  box-shadow: 0 0 5px #998b66;
}
.hover-bubble.anchor-right:after {
  border-left-color: #efeadd;
}
.hover-bubble.multi-selector label:hover {
  background: #fff;
}
.hover-bubble.multi-selector label a {
  border: 1px solid #b59390;
}
.titlebox .word {
  display: none;
}

.users-online:before {
  display: none;
}
.titlebox .subscribe-button {
  display: block;
  text-align: center;
}
.subscribers,
.users-online {
  display: inline-block;
  vertical-align: top;
  width: 101px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: #7c6b50;
  height: 37px;
}

.subscribers .number,
.users-online .number {
  font-size: 1.3em;
  font-weight: bold;
}
.subscribers::after {
  content: "Members";
}
.users-online::after {
  content: "Lurkers";
}
.subscribers::after,
.users-online::after {
  display: block;
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
}
.subscribers .word,
.users-online .word {
  display: none;
}
.fancy-toggle-button > .option.add.active,
.fancy-toggle-button > .option.remove.active {
  display: inline-block;
  vertical-align: middle;
}
.side .fancy-toggle-button > .option.remove:after,
.side .fancy-toggle-button > .option.remove:hover:after,
.side .fancy-toggle-button > .option.remove:focus:after,
.side .fancy-toggle-button > .option.remove:active:after {
  content: " from subreddit";
}
.side .fancy-toggle-button > .option.add:after,
.side .fancy-toggle-button > .option.add:hover:after,
.side .fancy-toggle-button > .option.add:focus:after,
.side .fancy-toggle-button > .option.add:active:after {
  content: " to this subreddit";
}
.side .fancy-toggle-button > .option.add,
.side .fancy-toggle-button > .option.remove,
.res .RESshortcutside,
.res .RESshortcutside.remove,
.res .RESDashboardToggle,
.res .RESDashboardToggle.remove {
  color: #313e3e;
  padding: 8px;
  width: 190px;
  height: auto;
  line-height: 1.5em;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  margin-left: 8px;
  background: #c5b9a5;
  border-radius: 3px;
  transition: all 0.2s;
}
.side .fancy-toggle-button > .option.add:hover,
.side .fancy-toggle-button > .option.remove:hover,
.res .RESshortcutside:hover,
.res .RESshortcutside.remove:hover,
.res .RESDashboardToggle:hover,
.res .RESDashboardToggle.remove:hover {
  background: #f4f3f1;
  box-shadow: 2px 2px 5px #c5b9a5;
}
.subButtons {
  text-align: center;
}
.res .RESshortcutside,
.res .RESshortcutside.remove,
.res .RESDashboardToggle,
.res .RESDashboardToggle.remove {
  font-size: 12px !important;
  display: inline-block !important;
  vertical-align: middle;
  width: 94px;
  padding: 2px 3px;
  margin: 0;
}
.subscribers,
.users-online {
  margin: 6px 0 15px 0;
}
.subscribers {
  margin-left: 40px;
  border-right: 1px solid #c5b9a5;
  border-radius: 3px 0 0 3px;
  padding: 5px 0px 5px 11px;
}
.users-online {
  padding: 5px 5px 5px 0px;
}
.res .RESshortcutside,
.res .RESshortcutside.remove {
  margin: 0 6px 0 3px;
}
.subscribers:before {
  content: "";
  display: block;
  position: absolute;
  right: 33px;
  height: 60px;
  width: 279px;
  background: url(%%subscriberbg%%) center no-repeat;
  background-size: contain;
  z-index: -1;
  margin-top: -7px;
}
/*==================================================
  6.4.1 Contributor and Moderator Buttons
  ================================================== */
/*==================================================
  6.6 Flair Div
  ================================================== */

.titlebox form.toggle,
.leavemoderator {
  background: transparent;
}
/*==================================================
  6.7 Twitter Div
  ================================================== */
/*==================================================
  6.8 Submit Button
  ================================================== */
/*==================================================
  6.9 Wiki Block
  ================================================== */

a[href="https://onepiece.wikia.com/wiki/Main_Page"]
{
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
}
/*==================================================
  6.10 Moderators Div
  ================================================== */
/* this scroll was everything below the submit a link button*/

.sidecontentbox {
  line-height: 16px;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px !important;
}
/*==================================================
  6.11 Recently Viewed 
  ================================================== */
/* background code is defined in Mod Div 6.13 */
/*==================================================
  6.12 Create Community 
  ================================================== */

.create {
  display: none;
}
.subtitle {
  display: none;
}
/*==================================================
  6.14 Account Activity Div Bottom of Sidebar
  ================================================== */

.account-activity-box a {
  padding: 20px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
}
/*==================================================
  7. Footer
  ================================================== */

body:not(.submit-page) .footer-parent:before {
  background: url(%%rope%%) repeat;
  display: block;
  height: 9px;
  width: 100%;
  content: "";
  position: relative;
  top: -42px;
}
body:not(.submit-page) .footer-parent {
  margin-top: 200px;
  background: url(%%blacktest%%) center no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: -14px;
}
body:not(.submit-page) .footer {
  margin: 120px auto;
  margin-bottom: 190px;
  border: 1px solid #b8b09b;
  background: rgba(234, 226, 205, 0.8);
}
.footer .title {
  color: #4a3013;
}
.footer .col {
  border-color: #b8b09b;
}
body:not(.submit-page) .bottommenu:nth-of-type(1) {
  color: #d4ccb7;
  padding-top: 30px;
}
body:not(.submit-page) .bottommenu:nth-of-type(2),
.bottommenu a {
  color: #d4ccb7;
}
body:not(.submit-page) .bottommenu {
  background: #372e24;
}
.bottommenu .updated {
  color: #6c6;
}
.bottommenu-advertise {
  margin-top: 0;
  padding-bottom: 30px;
}
.debuginfo {
  height: 10px;
  background: #372e24;
  display: none;
}
/*==================================================
  7.1 Reddit Copyright Text
  ================================================== */
/*==================================================
  7.2 Footer Image
  ================================================== */
/*==================================================
  8. Flair
  ================================================== */

.flair:after {
  content: attr(title);
  display: block;
  font-size: 11px;
  font-weight: 700;
  text-indent: 0;
  line-height: 22px;
  float: left;
  background-color: #f7f6f3;
  padding: 0 2px;
  margin-left: 30px;
}

/*==================================================
  9. RES Optimisation
  ================================================== */

.lcTagged {
  background-color: transparent !important;
  outline: 0px !important;
  border: 0px !important;
}
.keyNavAnnotation {
  /*display: none;*/

  color: #888;
}
.morecomments {
  margin-left: 15px;
}

/*==================================================
  10. Spoiler Formatting
  ================================================== */

a[href$="/spoiler"] {
  background: #cccccc !important;
  color: #cccccc !important;
}
a[href$="/spoiler"]:hover {
  color: #000000 !important;
}
a[href="/s"] {
  color: #fff !important;
  background: #372e24;
}
a[href="/s"]:before {
  content: "";
  display: inline-block;
  height: 17px;
  width: 15px;
  background-position: -277px -90px;
  margin: 0 6px -2px 6px;
}
a[href="/s"]:hover {
  color: #fff;
  text-decoration: none !important;
  cursor: text;
}
a[href="/s"]:hover:before {
  background-position: -277px -70px;
}
a[href="/s"]::after {
  content: attr(title);
  background: #372e24;
  color: #372e24;
  padding: 0px 10px 0px 10px;
  transition: all 0.1s ease;
}
a[href="/s"]:hover::after,
a[href="/s"]:active::after {
  color: #fff;
  text-decoration: none !important;
}
.usertext-body p a:hover[href="/s"] {
  text-decoration: none !important;
}
.usertext-body p a:active[href="/s"] {
  text-decoration: none !important;
}
.usertext-body p a:active[href="/spoiler"] {
  text-decoration: none !important;
}
.usertext-body p a:hover[href="/spoiler"] {
  text-decoration: none !important;
}
a[href$="#spoiler"] {
  background: #cccccc !important;
  color: #cccccc !important;
}
a[href$="#spoiler"]:hover {
  color: #000000 !important;
}
a[href="#s"] {
  color: #fff !important;
  background: #372e24;
}
a[href="#s"]:before {
  content: "";
  display: inline-block;
  height: 17px;
  width: 15px;
  background-position: -277px -90px;
  margin: 0 6px -2px 6px;
}
a[href="#s"]:hover {
  color: #fff;
  text-decoration: none !important;
  cursor: text;
}
a[href="#s"]:hover:before {
  background-position: -277px -70px;
}
a[href="#s"]::after {
  content: attr(title);
  background: #372e24;
  color: #372e24;
  padding: 0px 10px 0px 10px;
  transition: all 0.1s ease;
}
a[href="#s"]:hover::after,
a[href="#s"]:active::after {
  color: #fff !important;
  text-decoration: none !important;
}
.usertext-body p a:hover[href="#s"] {
  text-decoration: none !important;
}
.usertext-body p a:active[href="#s"] {
  text-decoration: none !important;
}
.usertext-body p a:active[href="#spoiler"] {
  text-decoration: none !important;
}
.usertext-body p a:hover[href="#spoiler"] {
  text-decoration: none !important;
}
/*==================================================
  11. Link Flair Formatting
  ================================================== */

.linkflairlabel {
  font-size: x-small;
  text-decoration: none;
  padding: 0 5px;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: normal;
  border: 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.linkflair-mangaspoiler .linkflairlabel,
.flairoptionpane .linkflair-mangaspoiler .linkflairlabel {
  border-color: #570c0c;
  color: #521414;
  background-color: #f8d0ce;
}
.linkflair-animespoiler .linkflairlabel,
.flairoptionpane .linkflair-animespoiler .linkflairlabel {
  border-color: #0d0e0d;
  color: #000;
  background-color: hsla(270, 0%, 92%, 1);
}
.linkflair-currentchapter .linkflairlabel,
.flairoptionpane .linkflair-currentchapter .linkflairlabel {
  border-color: brown;
  color: brown;
  background: hsla(0, 40%, 95%, 1);
}
.linkflair-currentepisode .linkflairlabel,
.flairoptionpane .linkflair-currentepisode .linkflairlabel {
  border-color: #c38d38;
  color: #956b28;
  background: #fae4b6;
}
.linkflair-announcement .linkflairlabel,
.flairoptionpane .linkflair-announcement .linkflairlabel {
  background: hsla(120, 20%, 90%, 1);
  color: green;
  border-color: green;
}
.linkflair-filmzspoiler .linkflairlabel,
.flairoptionpane .linkflair-filmzspoiler .linkflairlabel {
  border-color: #2f0b44;
  color: #000;
  background: #e7e0eb;
}
.linkflair-news .linkflairlabel,
.flairoptionpane .linkflair-news .linkflairlabel {
  border: 1px solid rgb(241, 143, 189);
  color: hsla(332, 146%, 40%, 1);
  background: hsla(332, 20%, 95%, 1);
}

/*==================================================
  13. Manga & Anime Bot Table Inline Images Formatting
  ================================================== */

a[href="/tick"],
a[href="/cross"] {
  width: 18px;
  height: 16px;
  content: " ";
  display: inline-block;
  pointer-events: none;
  cursor: pointer;
}
a[href="/tick"] {
  background-position: -306px -72px;
  width: 14px;
  height: 16px;
  margin: 2px 0 0 11px;
}
a[href="/cross"] {
  background-position: -292px -72px;
  width: 14px;
  height: 16px;
  margin: 2px 0 0 11px;
}
/*==================================================
  14. RES Nightmode Formatting
  ================================================== */
/*This will fix the link listing.*/

.res-nightmode .linklisting {
  bottom: 0px;
  margin-bottom: 0px !important;
  margin-left: 0px;
  margin-right: auto;
  padding: 7px 0px 7px 0px !important;
  background: transparent;
}
/*This will fix the comments page for submissions.*/

.res-nightmode .commentarea {
  background: transparent;
}
.res-nightmode .commentarea .menuarea {
  background: transparent;
}
/* This will fix the body content's white color. Submission page. */

body.res-nightmode div.content {
  background: transparent;
}
.res-nightmode .roundfield {
  color: white;
}
/* This will fix the sidebar */

.res-nightmode .side .spacer #search {
  background-image: none;
  background: transparent;
}
.res-nightmode .side .spacer #search input[type="text"] {
  background-image: none;
  background: transparent;
}

.res-nightmode .sidebox,
.subredditbox,
.subreddit-info,
.raisedbox,
.login-form-side {
  border: none;
}
.res-nightmode .side .linkinfo {
  background-color: transparent;
}

body.res-nightmode .entry.RES-keyNav-activeElement {
  outline: 1px dotted #e46700 !important;
  border-right: 1px solid #e46700 !important;
  background: none transparent !important;
}
.res-nightmode .commentarea .title,
.res-nightmode .footer .title {
  color: #aaa;
}

/*Nightmode footer */

.res-nightmode .bottommenu.debuginfo {
  background-color: #110404 !important;
}
.res-nightmode .tabmenu li a {
  background-color: transparent !important;
}
.res-nightmode ul.tabmenu li.selected a {
  background-color: transparent;
}

/* flairs */

.res-nightmode .flair {
  background-color: transparent !important;
}

/*==================================================
  15. Downvote warning formatting
  ================================================== */

.comment .midcol,
.res-nightmode .comment .midcol {
  width: 28px;
}
.comment .arrow.down:hover:before,
.link .arrow.down:hover:before {
  position: absolute;
  display: block;
  z-index: 9999;
  width: 100px;
  padding: 5px;
  border: 0 solid #333;
  background-color: brown;
  content: "The downvote button is NOT a disagree button!";
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: white;
  margin-left: 25px;
  margin-top: 5px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  box-shadow: 0 2px 12px #727070;
  opacity: 1;
  animation: 0.6s tada;
  -webkit-animation: 0.6s tada;
}

/*==================================================
  16. Wiki Formatting
  ================================================== */

.wiki-page .wiki-page-content {
  margin: 10px 30px 10px 30px;
}
.wiki-page .pageactions {
  background: #f7f6f3;
}
.wiki-page .wikititle {
  display: none;
}
.wiki-page .pageactions .wikiaction:hover {
  background-color: #4a3013;
  color: #fff;
}
.wiki-page .pageactions .wikiaction {
  transition: all 0.1s;
}
.wiki-page .wiki-page-content .wiki.md {
  margin-bottom: 50px;
}
/*==================================================
  17. Filters
  ================================================== */

html:lang(ns) .link.spoiler,
html:lang(ns) .linkflair-mangaspoiler,
html:lang(nt) .linkflair-theory {
  display: none;
}
html:lang(nb) .pagename:after,
html:lang(ob) .pagename:after {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}
.side a[href="https://nb.reddit.com/r/OnePiece"],
  .side a[href="https://www.reddit.com/r/OnePiece"],
  /*.side a[href="https://ab.reddit.com/r/OnePiece"],*/
  .side a[href="https://ob.reddit.com/r/OnePiece"]
{
  width: 25px !important;
  position: absolute;
  top: 165px;
  right: 20px;
  color: #fff !important;
  background-color: #b14974;
  font-size: 12px;
  font-weight: normal;
  padding: 4px 0 6px 0;
  text-decoration: none;
  text-align: center;
  background-image: none;
  background-repeat: no-repeat;
  z-index: 100;
  border-radius: 2px;
  opacity: 0.8;
  transition: all 0.3s;
}
.side a[href="https://www.reddit.com/r/OnePiece"]:hover,
  .side a[href="https://nb.reddit.com/r/OnePiece"]:hover,
  /*.side a[href="https://ab.reddit.com/r/OnePiece"]:hover,*/
  .side a[href="https://ob.reddit.com/r/OnePiece"]:hover
{
  opacity: 1;
}
/*.side a[href="https://ab.reddit.com/r/OnePiece"] {
      right: 55px;
  }*/
.side a[href="https://nb.reddit.com/r/OnePiece"]
{
  display: block; /*display pause button by default*/
}
html:lang(nb) .side a[href="https://nb.reddit.com/r/OnePiece"],html:lang(ob) .side a[href="https://ob.reddit.com/r/OnePiece"]
{
  display: none; /*when in no motion mode hide the pause button*/
}
.side a[href="https://www.reddit.com/r/OnePiece"], .side a[href="https://ob.reddit.com/r/OnePiece"]
{
  display: none; /*by default hide the play button and the alternate banner's pause button*/
}
html:lang(ab) .side a[href="https://ab.reddit.com/r/OnePiece"],html:lang(ab) .side a[href="https://nb.reddit.com/r/OnePiece"]
{
  display: none; /*when in alt banner mode hide the alt banner button and original banner's pause button*/
}
html:lang(nb) .side a[href="https://www.reddit.com/r/OnePiece"],html:lang(ob) .side a[href="https://ab.reddit.com/r/OnePiece"]
{
  display: block; /*when in no motion mode show the play button*/
}
html:lang(ab) .side a[href="https://ob.reddit.com/r/OnePiece"]
{
  display: block;
} /*when in moving alt banner show the ab's pause button*/
/*in no motion alt banner mode change the switch to alt banner symbol to the play symbol*/
html:lang(ob) .side a[href="https://ab.reddit.com/r/OnePiece"]
{
  font-size: 0;
}
html:lang(ob) .side a[href="https://ab.reddit.com/r/OnePiece"]:after
{
  content: "►";
  font-size: 12px;
}
/*in alternate banner mode the switch banner button should lead to the original banner*/
html:lang(ab) .side a[href="https://www.reddit.com/r/OnePiece"],html:lang(ob) .side a[href="https://www.reddit.com/r/OnePiece"]
{
  display: block;
  right: 55px;
  font-size: 0;
  padding-bottom: 0px;
}
html:lang(ab) .side a[href="https://www.reddit.com/r/OnePiece"]:after,html:lang(ob) .side a[href="https://www.reddit.com/r/OnePiece"]:after
{
  content: "⇄";
  font-size: 12px;
}
html:lang(ab) #header-bottom-left .tabmenu {
  background: linear-gradient(90deg, #e4cda4, beige, #e5cea5);
}

/*==================================================
  18. Scrolling Banner Image
  ================================================== */

.pagename,
body.res-nightmode .pagename {
  display: block;
  position: relative;
  overflow: hidden;
  /*Banner Height*/

  height: 189px;
  color: transparent;
  margin-top: -18px;
  margin-right: 0px;
}

/*main banner*/
.pagename:after {
  background: transparent repeat; /*change image url here*/
  background-image: url(%%bannerTemp%%);
  content: "";
  z-index: -2;
  left: 0px;
  top: 0px;
  position: absolute;
  width: 11684px;

  height: 180px;
  display: block;
  overflow: hidden;
  -webkit-animation: sidescroll 180s linear infinite;
  -moz-animation: sidescroll 180s linear infinite;
  -ms-animation: sidescroll 180s linear infinite;
  animation: sidescroll 180s linear infinite;
}

html:lang(kt) .pagename:after,
html:lang(ab) .pagename:after {
  width: 100%;
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  background-size: cover;
}
html:lang(ab) #header-bottom-left {
  background: transparent;
}
html:lang(ab) .pagename {
  background: transparent;
}

/*==================================================
  18.3 Upvote text animation "UpQuote".
  ================================================== */

.submit_text.enabled {
  background: white;
}
/*res nightmode*/
.res-nightmode #header-bottom-left {
  background: transparent;
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.6);
}
.res-nightmode body,
.res-nightmode .side,
.res-nightmode .side .titlebox,
.res-nightmode .side .titlebox form.flairtoggle,
.res-nightmode .side .usertext-body .md ol,
.res-nightmode .side .md ul,
.res-nightmode body:not(.submit-page) .bottommenu {
  background: #1a1a1a !important;
}
.res-nightmode #sr-header-area,
.res-nightmode div#RESShortcutsEditContainer,
.res-nightmode body.submit-page #RESShortcutsEditContainer {
  background: #1a1a1a !important;
}
.res-nightmode .pagename:before {
  background-color: #000;
  background-blend-mode: luminosity;
}
.res-nightmode .pagename:after {
  box-shadow: inset 0 0 0 -9999px rgba(0, 0, 0, 0.5);
}
.res-nightmode .morelink,
.res-nightmode .sidecontentbox a.helplink {
  background: #333;
  color: #ddd;
}
.res-nightmode .side .morelink a,
.res-nightmode .titlebox .bottom {
  color: #ddd;
}
.res-nightmode .morelink:hover a {
  color: #fff;
}
.res-nightmode .side .fancy-toggle-button > .option.add,
.res-nightmode .side .fancy-toggle-button > .option.remove,
.res-nightmode .res .RESshortcutside,
.res-nightmode .res .RESshortcutside.remove,
.res-nightmode .res .RESDashboardToggle,
.res-nightmode .res .RESDashboardToggle.remove {
  background: #444;
  color: #ccc !important;
}
.res-nightmode .link,
.res-nightmode body:not(.submit-page) .content[role="main"],
.res-nightmode body.wiki-page .pageactions {
  background-color: #333;
}
.res-nightmode .sidecontentbox .content:after,
.res-nightmode .sidecontentbox .content:before,
.res-nightmode .linkinfo:before,
.res-nightmode .linkinfo:after,
.res-nightmode .side .linkinfo {
  background-color: #262626;
}
.res-nightmode .thing .title:visited {
  color: #808c94 !important;
}
.res-nightmode .comment .arrow.down:hover:before,
.res-nightmode .link .arrow.down:hover:before,
.res-nightmode .submit-page .pagename:before,
.res-nightmode a #header-img,
.res-nightmode div.side:before {
  display: none;
}
.res-nightmode .link .title,
.res-nightmode .midcol .score.unvoted {
  color: #c1c1c1 !important;
}
.res-nightmode .link {
  border-color: #1a1a1a;
}
.res-nightmode .thumbnail,
.res-nightmode body.wiki-page .pageactions,
.res-nightmode body:not(.submit-page) .content[role="main"] {
  border-color: #555;
}
.res-nightmode .link.stickied {
  background: linear-gradient(to left, #333 40%, #222);
}
.res-nightmode .link.stickied:first-child:before {
  background: linear-gradient(to left, #333 40%, #222);

  /*circlejerk*/
}

.linkflair-news .linkflairlabel {
  background-color: #d3d3d3;
  font-size: 11px;
  font-weight: bold;
  color: #000000;
  border-color: #000000;
  border-width: 1px;
  border-radius: 3px;
}
